<body id="dark-mode">
<div class="ais-InstantSearch">
  <h1>lyric search</h1>
  <ais-instantsearch
  [config]="{
    apiKey: 'ca5b6c2d0030bba3a768b669e052af67',
    appId: 'JA924ZZWU7',
    indexName: 'lyrics',
    routing: true
  }"
  >
    
    <div class="left-panel">
      <h2></h2>
      <ais-refinement-list attribute="Lyrics"></ais-refinement-list>
      <ais-configure [searchParameters]="{ hitsPerPage: 1 }"></ais-configure>
    </div>
    <div class="right-panel">
      <ais-search-box></ais-search-box>
      
    
      <ais-hits>
          <ng-template let-hits="hits">
            <ol class="ais-Hits-list">
              <a *ngFor="let hit of hits" class="ais-Hits-item" >
                <!-- <ul class="nav navbar-nav item">
                <a routerLink='/lyrics' routerLinkActive="active"class="hit-song">  -->
                <div class="hit-title">  
                <ais-highlight attribute="Song" [hit]="hit"></ais-highlight><!-- </a>
                </ul> -->
                </div>
                <div class="hit-detail"> Artist:
                  <ais-highlight attribute="Artist" [hit]="hit"></ais-highlight>
                </div>
                <div class="hit-detail"> Rank: 
                  <ais-highlight attribute="Rank" [hit]="hit"></ais-highlight></div>
                <div class="hit-detail"> Year: <ais-highlight attribute="Year" [hit]="hit"></ais-highlight></div>
                <div class="hit-detail"> Lyrics: 
                  <ais-highlight attribute="Lyrics" [hit]="hit"></ais-highlight></div>
              </a> 
            </ol>
          </ng-template>
        
        </ais-hits>
        
      <ais-pagination></ais-pagination>
    </div>
  </ais-instantsearch>
</div>
</body>





