<h1>My first search app</h1>
<ais-instantsearch
  [config]="{
    apiKey: 'ca5b6c2d0030bba3a768b669e052af67',
    appId: 'JA924ZZWU7',
    indexName: 'lyrics',
    routing: true
  }"
>
  <ais-search-box></ais-search-box>  
  <ais-hits>
    <ng-template let-hits="hits">
      <div *ngFor="let hit of hits">
        {{hit.Song}}: {{hit.Artist}}
        <ais-highlight attribute="name" [hit]="hit">
        </ais-highlight>
      </div>
    </ng-template>
  </ais-hits>
  <ais-refinement-list attribute="brand"></ais-refinement-list>
</ais-instantsearch>



