.ais-InstantSearch {
	color: black;
	font-family: fantasy;
}

h1 {
	height: 150px;
	border: 3px solid gray;
	font-size: 50px;
	background-image: url("https://cdn.pixabay.com/photo/2017/11/15/09/28/music-player-2951399__340.jpg");
}